<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hospital.mapper.ReceiverecordMapper">
    
    <resultMap type="Receiverecord" id="ReceiverecordResult">
        <result property="recordsId"    column="records_id"    />
        <result property="recordsDoctorid"    column="records_doctorid"    />
        <result property="recordsDiagnosticStatus"    column="records_diagnostic_status"    />
        <result property="recordsStatus"    column="records_status"    />
        <result property="recordsCreatedate"    column="records_createdate"    />
        <result property="recordsAmpm"    column="records_ampm"    />
        <result property="recordsDeptid"    column="records_deptid"    />
        <result property="recordsNo"    column="records_no"    />
        <result property="outpatientId"    column="outpatient_id"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="enterdate"    column="enterdate"    />
    </resultMap>

    <sql id="selectReceiverecordVo">
        select records_id, records_doctorid, records_diagnostic_status, records_status, records_createdate, records_ampm, records_deptid, records_no, outpatient_id, operator_id, enterdate from t_medical_outpatientdoctor_receiverecord
    </sql>

<!--    <if test="recordsStatus != null  and recordsStatus != ''"> and records_status = #{recordsStatus}</if>-->
    <select id="selectReceiverecordList" parameterType="Receiverecord" resultMap="ReceiverecordResult">
        <include refid="selectReceiverecordVo"/>
        <where>
            records_diagnostic_status = 2
            <if test="recordsDoctorid != null "> and records_doctorid = #{recordsDoctorid}</if>
            <if test="recordsDiagnosticStatus != null  and recordsDiagnosticStatus != ''"> and records_diagnostic_status = #{recordsDiagnosticStatus}</if>

            <if test="recordsCreatedate != null "> and records_createdate = #{recordsCreatedate}</if>
            <if test="recordsAmpm != null  and recordsAmpm != ''"> and records_ampm = #{recordsAmpm}</if>
            <if test="recordsDeptid != null "> and records_deptid = #{recordsDeptid}</if>
            <if test="recordsNo != null "> and records_no = #{recordsNo}</if>
            <if test="outpatientId != null  and outpatientId != ''"> and outpatient_id like concat('%', #{outpatientId}, '%')</if>
            <if test="operatorId != null "> and operator_id like concat('%', #{operatorId}, '%')</if>
            <if test="enterdate != null "> and enterdate like concat('%', #{enterdate}, '%')</if>
        </where>
    </select>
    
    <select id="selectReceiverecordByRecordsId" parameterType="String" resultMap="ReceiverecordResult">
        <include refid="selectReceiverecordVo"/>
        where records_id = #{recordsId}
    </select>
        
    <insert id="insertReceiverecord" parameterType="Receiverecord">
        insert into t_medical_outpatientdoctor_receiverecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordsId != null">records_id,</if>
            <if test="recordsDoctorid != null">records_doctorid,</if>
            <if test="recordsDiagnosticStatus != null">records_diagnostic_status,</if>
            <if test="recordsStatus != null">records_status,</if>
            <if test="recordsCreatedate != null">records_createdate,</if>
            <if test="recordsAmpm != null">records_ampm,</if>
            <if test="recordsDeptid != null">records_deptid,</if>
            <if test="recordsNo != null">records_no,</if>
            <if test="outpatientId != null">outpatient_id,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="enterdate != null">enterdate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordsId != null">#{recordsId},</if>
            <if test="recordsDoctorid != null">#{recordsDoctorid},</if>
            <if test="recordsDiagnosticStatus != null">#{recordsDiagnosticStatus},</if>
            <if test="recordsStatus != null">#{recordsStatus},</if>
            <if test="recordsCreatedate != null">#{recordsCreatedate},</if>
            <if test="recordsAmpm != null">#{recordsAmpm},</if>
            <if test="recordsDeptid != null">#{recordsDeptid},</if>
            <if test="recordsNo != null">#{recordsNo},</if>
            <if test="outpatientId != null">#{outpatientId},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="enterdate != null">#{enterdate},</if>
         </trim>
    </insert>

    <update id="updateReceiverecord" parameterType="Receiverecord">
        update t_medical_outpatientdoctor_receiverecord
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordsDoctorid != null">records_doctorid = #{recordsDoctorid},</if>
            <if test="recordsDiagnosticStatus != null">records_diagnostic_status = #{recordsDiagnosticStatus},</if>
            <if test="recordsStatus != null">records_status = #{recordsStatus},</if>
            <if test="recordsCreatedate != null">records_createdate = #{recordsCreatedate},</if>
            <if test="recordsAmpm != null">records_ampm = #{recordsAmpm},</if>
            <if test="recordsDeptid != null">records_deptid = #{recordsDeptid},</if>
            <if test="recordsNo != null">records_no = #{recordsNo},</if>
            <if test="outpatientId != null">outpatient_id = #{outpatientId},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="enterdate != null">enterdate = #{enterdate},</if>
        </trim>
        where records_id = #{recordsId}
    </update>

    <delete id="deleteReceiverecordByRecordsId" parameterType="String">
        delete from t_medical_outpatientdoctor_receiverecord where records_id = #{recordsId}
    </delete>

    <delete id="deleteReceiverecordByRecordsIds" parameterType="String">
        delete from t_medical_outpatientdoctor_receiverecord where records_id in 
        <foreach item="recordsId" collection="array" open="(" separator="," close=")">
            #{recordsId}
        </foreach>
    </delete>
</mapper>